/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Box */
.login-box{
    background:white;
    padding:40px;
    width:350px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    text-align:center;
}

/* Heading */
.login-box h2{
    margin-bottom:25px;
    color:#2c5364;
}

/* Inputs */
.login-box input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #ddd;
    font-size:15px;
}

.login-box input:focus{
    border-color:#2c5364;
    outline:none;
    box-shadow:0 0 5px rgba(44,83,100,0.3);
}

/* Button */
.login-box button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2c5364;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.login-box button:hover{
    background:#203a43;
}

/* Bottom text */
.login-box p{
    margin-top:15px;
    font-size:14px;
}

.login-box a{
    color:#2c5364;
    text-decoration:none;
    font-weight:bold;
}

.login-box a:hover{
    text-decoration:underline;
}
